header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

figure {
    margin-bottom: 3rem;
}

.act-img {
    width: 80%;
    display: block;
    margin: auto
}

figcaption {
    text-align: center;
}